<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.hawk.core.HawkFactoryExtensionPoint">
      <hawkFactory
            class="org.hawk.service.remote.thrift.timeaware.ThriftRemoteTimeAwareHawkFactory"
            name="Remote Time-Aware Hawk Index">
      </hawkFactory>
   </extension>

</plugin>
