<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.hawk.core.ModelUpdaterExtensionPoint" name="ModelUpdaterExtensionPoint" schema="schema/org.hawk.core.ModelUpdaterExtensionPoint.exsd"/>
   <extension-point id="org.hawk.core.VCSExtensionPoint" name="VCSExtensionPoint" schema="schema/org.hawk.core.VCSExtensionPoint.exsd"/>
   <extension-point id="org.hawk.core.ModelExtensionPoint" name="ModelExtensionPoint" schema="schema/org.hawk.core.ModelExtensionPoint.exsd"/>
   <extension-point id="org.hawk.core.QueryExtensionPoint" name="QueryExtensionPoint" schema="schema/org.hawk.core.QueryExtensionPoint.exsd"/>
   <extension-point id="org.hawk.core.BackEndExtensionPoint" name="BackEndExtensionPoint" schema="schema/org.hawk.core.BackEndExtensionPoint.exsd"/>
   <extension-point id="org.hawk.core.MetaModelExtensionPoint" name="MetaModelExtensionPoint" schema="schema/org.hawk.core.MetaModelExtensionPoint.exsd"/>
   <extension-point id="org.hawk.core.MetaModelUpdaterExtensionPoint" name="MetaModelUpdaterExtensionPoint" schema="schema/org.hawk.core.MetaModelUpdaterExtensionPoint.exsd"/>
   <extension-point id="org.hawk.core.HawkFactoryExtensionPoint" name="HawkFactoryExtensionPoint" schema="schema/org.hawk.core.HawkFactoryExtensionPoint.exsd"/>
   <extension-point id="org.hawk.core.GraphChangeListenerExtensionPoint" name="GraphChangeListenerExtensionPoint" schema="schema/org.hawk.core.GraphChangeListenerExtensionPoint.exsd"/>
   <extension
         point="org.hawk.core.HawkFactoryExtensionPoint">
      <hawkFactory
            class="org.hawk.core.runtime.LocalHawkFactory"
            name="Local Instance">
      </hawkFactory>
   </extension>

</plugin>
