<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/thrift/ifcexport"
            class="uk.ac.york.mondo.integration.server.ifcexport.servlet.servlets.IFCExportServlet">
      </servlet>
   </extension>

</plugin>
