<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Tree -->
      <package
            uri="Tree"
            class="org.hawk.integration.tests.mm.Tree.TreePackage"
            genModel="resources/metamodels/Tree.genmodel"/>
   </extension>

</plugin>
