<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="uk.ac.york.mondo.integration.clients.cli.application.app"
            name="MONDO CLI Client Product">
         <property
               name="appName"
               value="MONDO CLI Client Product">
         </property>
      </product>
   </extension>
</plugin>
