<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.hawk.core.ModelUpdaterExtensionPoint">
                <model
                      ModelUpdater="org.hawk.graph.updater.GraphModelUpdater">
      </model>
   </extension>
   <extension
         point="org.hawk.core.MetaModelUpdaterExtensionPoint">    
 <metamodel
                      metamodelupdater="org.hawk.graph.updater.GraphMetaModelUpdater">
      </metamodel>      
   </extension>
   <extension
         point="org.hawk.core.IndexerIntrospectionExtensionPoint">
      <class
            introspector="org.hawk.graph.introspector.GraphMetaModelIntrospector$Factory">
      </class>
   </extension>
</plugin>
