<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.hawk.ui.emfresource.LocalHawkResourceFactoryImpl"
            type="localhawkmodel">
      </parser>
   </extension>
   <extension
         point="org.eclipse.epsilon.dt.exeed.customizer">
      <customizer
            customizerClass="org.hawk.ui.emfresource.exeed.LocalHawkResourceExeedCustomizer"
            resourceClass="org.hawk.emfresource.LocalHawkResourceImpl">
      </customizer>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="hawk.ui.plugin"
            class="org.hawk.ui.emfresource.wizards.NewDescriptorWizard"
            id="org.hawk.ui.emf.newfile"
            name="Local Hawk Model Descriptor">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.epsilon.dt.exeed.ExeedEditor"
            contributorClass="org.eclipse.epsilon.dt.exeed.ExeedActionBarContributor"
            default="true"
            extensions="localhawkmodel"
            id="org.hawk.ui.emf.editor.exeed"
            name="Exeed Editor">
      </editor>
   </extension>

</plugin>
