<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.hawk.core.MetaModelExtensionPoint">
      <MetaModelP
            MetaModelParser="org.hawk.uml.metamodel.UMLMetaModelResourceFactory">
      </MetaModelP>
   </extension>
   <extension
         point="org.hawk.core.ModelExtensionPoint">
      <ModelP
            ModelParser="org.hawk.uml.model.UMLModelResourceFactory">
      </ModelP>
   </extension>
   <extension
         point="org.hawk.core.VCSExtensionPoint">
      <VCS
            VCSManager="org.hawk.uml.vcs.PredefinedUMLLibraries">
      </VCS>
   </extension>

</plugin>
