<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.hawk.core.MetaModelExtensionPoint">
      <MetaModelP
            MetaModelParser="org.hawk.modelio.exml.metamodel.ModelioMetaModelResourceFactory">
      </MetaModelP>
   </extension>
   <extension
         point="org.hawk.core.ModelExtensionPoint">
      <ModelP
            ModelParser="org.hawk.modelio.exml.model.ModelioModelResourceFactory">
      </ModelP>
   </extension>
   <extension
         point="org.hawk.core.GraphChangeListenerExtensionPoint">
      <graphChangeListener
            class="org.hawk.modelio.exml.listeners.ModelioGraphChangeListener">
      </graphChangeListener>
   </extension>

</plugin>
