<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.hawk.ui.emfresource.LocalHawkResourceFactoryImpl"
            type="localhawkmodel">
      </parser>
   </extension>
   <extension
         point="org.eclipse.epsilon.dt.exeed.customizer">
      <customizer
            customizerClass="org.hawk.ui.emfresource.exeed.HawkResourceExeedCustomizer"
            resourceClass="org.hawk.emfresource.impl.LocalHawkResourceImpl">
      </customizer>
   </extension>
   <extension
         point="org.eclipse.epsilon.dt.exeed.customizer">
      <customizer
            customizerClass="org.hawk.ui.emfresource.exeed.HawkResourceExeedCustomizer"
            resourceClass="org.hawk.emfresource.impl.HawkFileResourceImpl">
      </customizer>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="hawk.ui.plugin"
            class="org.hawk.ui.emfresource.wizards.NewDescriptorWizard"
            icon="icons/hawkmodel.png"
            id="org.hawk.ui.emf.newfile"
            name="Local Hawk Model Descriptor">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.epsilon.dt.exeed.ExeedEditor"
            contributorClass="org.eclipse.epsilon.dt.exeed.ExeedActionBarContributor"
            default="true"
            extensions="localhawkmodel"
            id="org.hawk.ui.emf.editor.exeed"
            name="Exeed Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.hawk.ui.emfresource.handlers.SaveXMICommand"
            id="org.hawk.ui.emfresource.dumpxmi"
            name="Save to XMI">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <command
               commandId="org.hawk.ui.emfresource.dumpxmi"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.hawk.ui.emfresource.isHawkLocalModel">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
         <command
               commandId="org.hawk.ui.emfresource.dumpxmi"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.hawk.ui.emfresource.isHawkLocalModel">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.hawk.ui.emfresource.isHawkLocalModel">
         <and>
            <count
                  value="1">
            </count>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <adapt
                     type="org.eclipse.core.resources.IFile">
                  <test
                        property="org.eclipse.core.resources.extension"
                        value="localhawkmodel">
                  </test>
               </adapt>
            </iterate>
         </and>
      </definition>
   </extension>

</plugin>
