<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.hawk.core.VCSExtensionPoint">
      <VCS
            VCSManager="org.hawk.workspace.Workspace">
      </VCS>
   </extension>
   <extension
         point="org.hawk.core.VCSExtensionPoint">
      <VCS
            VCSManager="org.hawk.workspace.LocalHistoryWorkspace">
      </VCS>
   </extension>

</plugin>
