<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.hawk.service.api.dt.ui.MONDOServersPreferencePage"
            id="org.hawk.service.api.dt.page"
            name="MONDO Servers">
      </page>
   </extension>

</plugin>
