<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.hawk.ui.preferences.HawkPreferencePage"
            class="org.hawk.service.api.dt.ui.HawkServersPreferencePage"
            id="org.hawk.service.api.dt.page"
            name="Servers">
      </page>
   </extension>

</plugin>
