<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.epsilon.common.dt.modelType">
      <modelType
            class="org.hawk.ui.emc.dt2.HawkModel"
            dialog="org.hawk.ui.emc.dt2.HawkModelConfigurationDialog"
            icon="images/hawk.png"
            label="Hawk Index"
            stable="true"
            type="Hawk">
      </modelType>
   </extension>

</plugin>
