<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.hawk.graph.graphChangeListener" name="graphChangeListener" schema="schema/org.hawk.graph.graphChangeListener.exsd"/>
   <extension
         point="org.hawk.core.ModelUpdaterExtensionPoint">
                <model
                      ModelUpdater="org.hawk.graph.internal.updater.GraphModelUpdater">
      </model>
   </extension>
   <extension
         point="org.hawk.core.MetaModelUpdaterExtensionPoint">    
 <metamodel
                      metamodelupdater="org.hawk.graph.internal.updater.GraphMetaModelUpdater">
      </metamodel>      
   </extension>
</plugin>
