<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.hawk.graph.BackEndExtensionPoint" name="BackEndExtensionPoint" schema="schema/org.hawk.graph.BackEndExtensionPoint.exsd"/>
   <extension
         point="org.hawk.core.ModelUpdaterExtensionPoint">
                <DataStore
                      ModelUpdater="org.hawk.graph.updater.GraphModelUpdater">
      </DataStore>
   </extension>
   <extension
         point="org.hawk.core.MetaModelUpdaterExtensionPoint">    
 <metamodel
                      metamodelupdater="org.hawk.graph.updater.GraphMetaModelUpdater">
      </metamodel>
   </extension>
</plugin>
