<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.epsilon.common.dt.modelType">
      <modelType
            class="org.hawk.ui.emc.dt2.queryaware.HawkModel"
            dialog="org.hawk.ui.emc.dt2.queryaware.HawkModelConfigurationDialog"
            icon="images/hawk.png"
            label="Hawk Index (query aware)"
            stable="true"
            type="Hawk Index (query aware)">
      </modelType>
   </extension>

</plugin>
