<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Hawk Target Platform" sequenceNumber="102">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jetty.bundles.f.feature.group" version="9.2.13.201508192117"/>
<unit id="org.eclipse.jetty.bundles.f.source.feature.group" version="9.2.13.201508192117"/>
<repository location="http://download.eclipse.org/jetty/updates/jetty-bundles-9.x/9.2.13.v20150730"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.httpcomponents.httpcore" version="4.3.3.v201411290715"/>
<unit id="org.apache.httpcomponents.httpclient" version="4.3.6.v201411290715"/>
<unit id="ch.qos.logback.slf4j" version="1.0.7.v20121108-1250"/>
<unit id="org.apache.httpcomponents.httpcore.nio.source" version="4.1.0.v201101201700"/>
<unit id="ch.qos.logback.slf4j.source" version="1.0.7.v20121108-1250"/>
<unit id="ch.qos.logback.core" version="1.0.7.v20121108-1250"/>
<unit id="org.apache.commons.codec.source" version="1.6.0.v201305230611"/>
<unit id="ch.qos.logback.classic.source" version="1.0.7.v20121108-1250"/>
<unit id="org.slf4j.api.source" version="1.7.2.v20121108-1250"/>
<unit id="org.apache.httpcomponents.httpcore.source" version="4.3.3.v201411290715"/>
<unit id="org.apache.commons.lang3" version="3.1.0.v201403281430"/>
<unit id="ch.qos.logback.core.source" version="1.0.7.v20121108-1250"/>
<unit id="org.apache.httpcomponents.httpclient.source" version="4.3.6.v201411290715"/>
<unit id="org.slf4j.api" version="1.7.2.v20121108-1250"/>
<unit id="org.apache.commons.lang" version="2.6.0.v201404270220"/>
<unit id="org.apache.commons.lang3.source" version="3.1.0.v201403281430"/>
<unit id="ch.qos.logback.classic" version="1.0.7.v20121108-1250"/>
<unit id="org.apache.commons.codec" version="1.6.0.v201305230611"/>
<unit id="org.apache.httpcomponents.httpcore.nio" version="4.1.0.v201101201700"/>
<unit id="org.apache.commons.lang.source" version="2.6.0.v201404270220"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20150124073747/repository/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.thrift" version="0.9.3"/>
<unit id="org.eclipse.uml2.common" version="1.6.0.v201105021727"/>
<unit id="org.eclipse.uml2.common.source" version="1.6.0.v201105021727"/>
<unit id="org.eclipse.uml2.codegen.ecore.ui" version="1.6.100.v201008301510"/>
<unit id="org.eclipse.uml2.uml.resources.source" version="3.1.100.v201008191510"/>
<unit id="org.eclipse.nebula.widgets.nattable.extension.glazedlists.source" version="1.1.0.201405012245"/>
<unit id="org.eclipse.nebula.paperclips.core" version="2.0.0.201302061436"/>
<unit id="org.eclipse.nebula.widgets.grid" version="1.0.0.201302061436"/>
<unit id="org.eclipse.nebula.widgets.pshelf.source" version="1.0.0.201302061436"/>
<unit id="org.eclipse.nebula.widgets.pagination" version="1.0.0.201302260244"/>
<unit id="org.eclipse.nebula.widgets.radiogroup" version="0.1.0.201302260244"/>
<unit id="org.eclipse.uml2.uml.ecore.exporter.source" version="2.4.100.v201008301510"/>
<unit id="org.eclipse.nebula.widgets.datechooser" version="1.0.0.201302260244"/>
<unit id="org.eclipse.nebula.widgets.nattable.extension.poi.source" version="1.1.0.201405012245"/>
<unit id="org.eclipse.nebula.widgets.nattable.core.source" version="1.1.0.201405012245"/>
<unit id="org.eclipse.uml2.uml.ecore.importer" version="2.4.100.v201008301510"/>
<unit id="org.eclipse.uml2.uml.edit" version="3.1.100.v201009281840"/>
<unit id="org.eclipse.nebula.widgets.grid.source" version="1.0.0.201302061436"/>
<unit id="org.eclipse.uml2.common.edit.source" version="1.5.0.v201005031530"/>
<unit id="org.eclipse.nebula.widgets.cdatetime" version="0.14.0.201302061436"/>
<unit id="org.eclipse.uml2.uml.resources" version="3.1.100.v201008191510"/>
<unit id="org.eclipse.nebula.effects.stw" version="1.0.0.201302061436"/>
<unit id="org.eclipse.nebula.widgets.ganttchart" version="1.0.0.201302061436"/>
<unit id="org.eclipse.uml2.codegen.ecore.source" version="1.7.1.v201109082252"/>
<unit id="org.eclipse.uml2.uml.ecore.importer.source" version="2.4.100.v201008301510"/>
<unit id="org.eclipse.uml2.uml.source" version="3.2.100.v201108110105"/>
<unit id="org.eclipse.uml2.uml.editor.source" version="3.1.100.v201009281840"/>
<unit id="org.eclipse.nebula.widgets.nattable.core" version="1.1.0.201405012245"/>
<unit id="org.eclipse.nebula.widgets.collapsiblebuttons" version="1.0.0.201302260244"/>
<unit id="org.eclipse.nebula.widgets.pgroup.source" version="1.0.0.201302061436"/>
<unit id="org.eclipse.nebula.widgets.xviewer" version="0.9.9.201302061436"/>
<unit id="org.eclipse.uml2.codegen.ecore.ui.source" version="1.6.100.v201008301510"/>
<unit id="org.eclipse.nebula.widgets.calendarcombo" version="1.0.0.201302061436"/>
<unit id="org.eclipse.nebula.widgets.tablecombo.source" version="1.0.0.201302061436"/>
<unit id="org.eclipse.uml2" version="3.2.0.v201101271655"/>
<unit id="org.eclipse.nebula.widgets.tablecombo" version="1.0.0.201302061436"/>
<unit id="org.eclipse.nebula.widgets.datechooser.source" version="1.0.0.201302260244"/>
<unit id="org.eclipse.nebula.paperclips.widgets" version="2.0.0.201302061436"/>
<unit id="org.eclipse.nebula.widgets.radiogroup.source" version="0.1.0.201302260244"/>
<unit id="org.eclipse.nebula.paperclips.core.source" version="2.0.0.201302061436"/>
<unit id="org.eclipse.nebula.cwt" version="0.9.0.201302061436"/>
<unit id="org.eclipse.nebula.cwt.source" version="0.9.0.201302061436"/>
<unit id="org.tmatesoft.sqljet" version="1.1.10.r1317_v20140121_0107"/>
<unit id="org.eclipse.uml2.codegen.ecore" version="1.7.1.v201109082252"/>
<unit id="org.eclipse.nebula.jface.cdatetime" version="0.14.0.201302061436"/>
<unit id="org.eclipse.nebula.widgets.nattable.extension.poi" version="1.1.0.201405012245"/>
<unit id="org.eclipse.nebula.widgets.geomap.source" version="0.1.0.201302260244"/>
<unit id="org.eclipse.nebula.widgets.geomap" version="0.1.0.201302260244"/>
<unit id="org.tmatesoft.svnkit" version="1.8.11.r10483_v20150925_0010"/>
<unit id="org.eclipse.uml2.doc" version="3.1.0.v201005031530"/>
<unit id="org.eclipse.nebula.widgets.treemapper.source" version="0.1.0.201302260244"/>
<unit id="org.eclipse.uml2.source" version="3.2.0.v201101271655"/>
<unit id="org.eclipse.nebula.widgets.collapsiblebuttons.source" version="1.0.0.201302260244"/>
<unit id="org.eclipse.nebula.widgets.pagination.source" version="1.0.0.201302260244"/>
<unit id="org.eclipse.nebula.widgets.xviewer.source" version="0.9.9.201302061436"/>
<unit id="org.eclipse.nebula.paperclips.widgets.source" version="2.0.0.201302061436"/>
<unit id="org.eclipse.nebula.widgets.ganttchart.source" version="1.0.0.201302061436"/>
<unit id="org.eclipse.nebula.widgets.picture.source" version="1.0.0.201302260244"/>
<unit id="org.tmatesoft.svnkit.feature.group" version="1.8.11.r10483_v20150925_0010"/>
<unit id="org.eclipse.nebula.jface.cdatetime.source" version="0.14.0.201302061436"/>
<unit id="org.eclipse.nebula.widgets.compositetable" version="1.0.0.201302061436"/>
<unit id="org.eclipse.uml2.common.edit" version="1.5.0.v201005031530"/>
<unit id="de.kupzog.ktable" version="2.2.0"/>
<unit id="org.eclipse.nebula.widgets.pshelf" version="1.0.0.201302061436"/>
<unit id="org.eclipse.nebula.widgets.formattedtext.source" version="1.0.0.201302260244"/>
<unit id="com.trilead.ssh2" version="1.0.0.build220_r167_v20150618_1733"/>
<unit id="org.eclipse.nebula.widgets.nattable.extension.glazedlists" version="1.1.0.201405012245"/>
<unit id="org.eclipse.nebula.widgets.calendarcombo.source" version="1.0.0.201302061436"/>
<unit id="org.eclipse.nebula.widgets.cdatetime.source" version="0.14.0.201302061436"/>
<unit id="org.eclipse.uml2.uml.ecore.exporter" version="2.4.100.v201008301510"/>
<unit id="org.eclipse.nebula.widgets.gallery" version="0.5.3.201302061436"/>
<unit id="org.eclipse.uml2.uml" version="3.2.100.v201108110105"/>
<unit id="org.eclipse.nebula.widgets.oscilloscope.source" version="1.1.0.201302061436"/>
<unit id="org.eclipse.nebula.effects.stw.source" version="1.0.0.201302061436"/>
<unit id="org.eclipse.nebula.widgets.gallery.source" version="0.5.3.201302061436"/>
<unit id="org.eclipse.nebula.widgets.pgroup" version="1.0.0.201302061436"/>
<unit id="org.eclipse.uml2.uml.editor" version="3.1.100.v201009281840"/>
<unit id="org.eclipse.nebula.widgets.formattedtext" version="1.0.0.201302260244"/>
<unit id="org.eclipse.uml2.uml.edit.source" version="3.1.100.v201009281840"/>
<unit id="org.eclipse.nebula.widgets.picture" version="1.0.0.201302260244"/>
<unit id="org.eclipse.nebula.widgets.treemapper" version="0.1.0.201302260244"/>
<unit id="org.eclipse.nebula.widgets.oscilloscope" version="1.1.0.201302061436"/>
<unit id="org.eclipse.nebula.widgets.compositetable.source" version="1.0.0.201302061436"/>
<repository location="http://mondo-project.github.io/mondo-hawk/thirdparty-nonp2/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.commons.collections.source" version="3.2.0.v2013030210310"/>
<unit id="org.apache.commons.collections" version="3.2.0.v2013030210310"/>
<unit id="org.apache.commons.beanutils.source" version="1.8.0.v201205091237"/>
<unit id="com.google.guava" version="15.0.0.v201403281430"/>
<unit id="org.apache.commons.beanutils" version="1.8.0.v201205091237"/>
<unit id="com.google.guava.source" version="15.0.0.v201403281430"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20150124073747/repository/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.core.runtime.feature.feature.group" version="1.1.102.v20160128-1558"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.feature.feature.group" version="3.12.0.v20151130-0157"/>
<unit id="org.eclipse.jdt.feature.group" version="3.11.2.v20160212-1500"/>
<unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="1.1.0.v20151130-0157"/>
<unit id="org.eclipse.ecf.core.feature.feature.group" version="1.2.0.v20151130-0157"/>
<unit id="org.eclipse.pde.feature.group" version="3.11.2.v20160212-1500"/>
<unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="1.1.0.v20151130-0157"/>
<unit id="org.eclipse.bpmn2.feature.feature.group" version="1.2.1.Final-v20160119-1829"/>
<unit id="org.eclipse.xsd.sdk.feature.group" version="2.11.0.v20160208-0841"/>
<unit id="org.eclipse.equinox.core.sdk.feature.group" version="3.11.2.v20160128-1406"/>
<unit id="org.eclipse.equinox.executable.feature.group" version="3.6.200.v20150602-1417"/>
<unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="3.12.0.v20151130-0157"/>
<unit id="org.eclipse.equinox.server.jetty.feature.group" version="1.2.2.v20160202-2102"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.11.2.v20160208-0841"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature.feature.group" version="1.1.0.v20151130-0157"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="3.10.1.201508170204"/>
<unit id="org.eclipse.platform.sdk" version="4.5.2.M20160212-1500"/>
<repository location="http://download.eclipse.org/releases/mars/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.epsilon.core.dt.feature.feature.group" version="1.4.0.201610261330"/>
<unit id="org.eclipse.epsilon.core.feature.feature.group" version="1.4.0.201610261330"/>
<unit id="org.eclipse.epsilon.emf.dt.feature.feature.group" version="1.4.0.201610261330"/>
<unit id="org.eclipse.epsilon.emf.feature.feature.group" version="1.4.0.201610261330"/>
<repository location="http://download.eclipse.org/epsilon/interim/"/>
</location>
</locations>
</target>
