<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target name="Hawk Target Platform" sequenceNumber="131">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jetty.bundles.f.feature.group" version="9.2.13.201508192117"/>
<unit id="org.eclipse.jetty.bundles.f.source.feature.group" version="9.2.13.201508192117"/>
<repository location="http://download.eclipse.org/jetty/updates/jetty-bundles-9.x/9.2.13.v20150730"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="net.java.dev.jna" version="4.1.0.v06022015_1911"/>
<unit id="org.apache.thrift" version="0.9.3"/>
<unit id="org.tmatesoft.sqljet" version="1.1.10.r1317_v20140121_0107"/>
<unit id="org.tmatesoft.svnkit" version="1.8.11.r10483_v20150925_0010"/>
<unit id="org.tmatesoft.svnkit.feature.group" version="1.8.11.r10483_v20150925_0010"/>
<repository location="http://mondo-project.github.io/mondo-hawk/thirdparty-nonp2/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="ch.qos.logback.classic" version="1.0.7.v20121108-1250"/>
<unit id="ch.qos.logback.classic.source" version="1.0.7.v20121108-1250"/>
<unit id="ch.qos.logback.core" version="1.0.7.v20121108-1250"/>
<unit id="ch.qos.logback.core.source" version="1.0.7.v20121108-1250"/>
<unit id="ch.qos.logback.slf4j" version="1.0.7.v20121108-1250"/>
<unit id="ch.qos.logback.slf4j.source" version="1.0.7.v20121108-1250"/>
<unit id="com.google.inject" version="3.0.0.v201312141243"/>
<unit id="com.google.inject.assistedinject" version="3.0.0.v201402270930"/>
<unit id="com.google.inject.assistedinject.source" version="3.0.0.v201402270930"/>
<unit id="com.google.inject.multibindings" version="3.0.0.v201402270930"/>
<unit id="com.google.inject.multibindings.source" version="3.0.0.v201402270930"/>
<unit id="com.google.inject.source" version="3.0.0.v201312141243"/>
<unit id="org.apache.commons.codec" version="1.6.0.v201305230611"/>
<unit id="org.apache.commons.codec.source" version="1.6.0.v201305230611"/>
<unit id="org.apache.commons.lang" version="2.6.0.v201404270220"/>
<unit id="org.apache.commons.lang.source" version="2.6.0.v201404270220"/>
<unit id="org.apache.commons.lang3" version="3.1.0.v201403281430"/>
<unit id="org.apache.commons.lang3.source" version="3.1.0.v201403281430"/>
<unit id="org.apache.httpcomponents.httpclient" version="4.3.6.v201411290715"/>
<unit id="org.apache.httpcomponents.httpclient.source" version="4.3.6.v201411290715"/>
<unit id="org.apache.httpcomponents.httpcore" version="4.3.3.v201411290715"/>
<unit id="org.apache.httpcomponents.httpcore.nio" version="4.1.0.v201101201700"/>
<unit id="org.apache.httpcomponents.httpcore.nio.source" version="4.1.0.v201101201700"/>
<unit id="org.apache.httpcomponents.httpcore.source" version="4.3.3.v201411290715"/>
<unit id="org.slf4j.api" version="1.7.2.v20121108-1250"/>
<unit id="org.slf4j.api.source" version="1.7.2.v20121108-1250"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20150124073747/repository/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.google.guava" version="15.0.0.v201403281430"/>
<unit id="com.google.guava.source" version="15.0.0.v201403281430"/>
<unit id="org.apache.commons.beanutils" version="1.8.0.v201205091237"/>
<unit id="org.apache.commons.beanutils.source" version="1.8.0.v201205091237"/>
<unit id="org.apache.commons.collections" version="3.2.0.v2013030210310"/>
<unit id="org.apache.commons.collections.source" version="3.2.0.v2013030210310"/>
<unit id="org.apache.commons.io" version="2.2.0.v201405211200"/>
<unit id="org.apache.commons.io.source" version="2.2.0.v201405211200"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20150124073747/repository/"/>
</location>
	<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.epsilon.core.dt.feature.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.epsilon.core.feature.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.epsilon.emf.dt.feature.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.epsilon.emf.feature.feature.group" version="0.0.0"/>
		<repository location="http://download.eclipse.org/epsilon/updates/"/>
	</location>
	<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.bpmn2.feature.feature.group" version="1.5.0.Final-v20180515-1526"/>
		<unit id="org.eclipse.core.runtime.feature.feature.group" version="1.2.100.v20180515-2014"/>
		<unit id="org.eclipse.ecf.core.feature.feature.group" version="1.5.0.v20180426-1936"/>
		<unit id="org.eclipse.ecf.core.feature.source.feature.group" version="1.5.0.v20180426-1936"/>
		<unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="1.1.100.v20180301-0201"/>
		<unit id="org.eclipse.ecf.core.ssl.feature.source.feature.group" version="1.1.100.v20180301-0201"/>
		<unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="3.14.0.v20180306-0429"/>
		<unit id="org.eclipse.ecf.filetransfer.feature.source.feature.group" version="3.14.0.v20180306-0429"/>
		<unit id="org.eclipse.ecf.filetransfer.httpclient4.feature.feature.group" version="3.14.0.v20180301-0132"/>
		<unit id="org.eclipse.ecf.filetransfer.httpclient4.feature.source.feature.group" version="3.14.0.v20180301-0132"/>
		<unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature.feature.group" version="1.1.100.v20180301-0132"/>
		<unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature.source.feature.group" version="1.1.100.v20180301-0132"/>
		<unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="1.1.100.v20180301-0132"/>
		<unit id="org.eclipse.ecf.filetransfer.ssl.feature.source.feature.group" version="1.1.100.v20180301-0132"/>
		<unit id="org.eclipse.emf.ecore.xcore.sdk.feature.group" version="1.6.0.v20180527-1213"/>
		<unit id="org.eclipse.emf.ecore.xcore.sdk.source.feature.group" version="1.6.0.v20180527-1213"/>
		<unit id="org.eclipse.emf.sdk.feature.group" version="2.14.0.v20180529-1157"/>
		<unit id="org.eclipse.emf.sdk.source.feature.group" version="2.14.0.v20180529-1157"/>
		<unit id="org.eclipse.equinox.core.sdk.feature.group" version="3.14.0.v20180512-1130"/>
		<unit id="org.eclipse.equinox.executable.feature.group" version="3.8.0.v20180518-2029"/>
		<unit id="org.eclipse.gef.feature.group" version="3.11.0.201606061308"/>
		<unit id="org.eclipse.gef.sdk.feature.group" version="3.11.0.201606061308"/>
		<unit id="org.eclipse.gef.source.feature.group" version="3.11.0.201606061308"/>
		<unit id="org.eclipse.jdt.feature.group" version="3.14.0.v20180611-0500"/>
		<unit id="org.eclipse.pde.feature.group" version="3.13.100.v20180611-0826"/>
		<unit id="org.eclipse.platform.sdk" version="4.8.0.I20180611-0500"/>
		<repository location="http://download.eclipse.org/releases/photon/"/>
	</location>
	<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.equinox.server.jetty.feature.group" version="1.5.0.v20180508-1121"/>
		<unit id="org.eclipse.equinox.serverside.sdk.feature.group" version="3.14.0.v20180515-2149"/>
		<unit id="org.eclipse.ocl.unified.core.feature.group" version="1.4.0.v20180611-1119"/>
		<unit id="org.eclipse.ocl.unified.core.source.feature.group" version="1.4.0.v20180611-1119"/>
		<unit id="org.eclipse.ocl.unified.ui.feature.group" version="1.4.0.v20180611-1119"/>
		<unit id="org.eclipse.ocl.unified.ui.source.feature.group" version="1.4.0.v20180611-1119"/>
		<unit id="org.eclipse.uml2.common.edit.feature.group" version="2.4.0.v20180604-1153"/>
		<unit id="org.eclipse.uml2.common.feature.group" version="2.4.0.v20180604-1153"/>
		<unit id="org.eclipse.uml2.feature.group" version="5.4.0.v20180604-1153"/>
		<unit id="org.eclipse.uml2.uml.edit.feature.group" version="5.4.0.v20180604-1153"/>
		<unit id="org.eclipse.uml2.uml.feature.group" version="5.4.0.v20180604-1153"/>
		<unit id="org.eclipse.xsd.sdk.feature.group" version="2.14.0.v20180131-0817"/>
		<unit id="org.eclipse.xsd.sdk.source.feature.group" version="2.14.0.v20180131-0817"/>
		<repository location="http://download.eclipse.org/releases/photon/"/>
	</location>
	<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.emf.mwe.sdk.feature.group" version="1.3.21.201705291011"/>
		<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.9.1.201705291011"/>
		<unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.9.1.201705291011"/>
		<unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.12.0.201805140824"/>
		<unit id="org.eclipse.gmf.feature.group" version="1.12.0.201806010809"/>
		<unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="1.12.0.201805221301"/>
		<unit id="org.eclipse.m2m.qvt.oml.sdk.feature.group" version="3.8.0.v20180612-0940"/>
		<unit id="org.eclipse.ocl.all.sdk.feature.group" version="5.4.0.v20180611-1119"/>
		<unit id="org.eclipse.papyrus.uml.feature.feature.group" version="4.0.0.201806130934"/>
		<unit id="org.eclipse.xpand.sdk.feature.group" version="2.2.0.v201605260315"/>
		<unit id="org.eclipse.xtend.sdk.feature.group" version="2.14.0.v20180523-0937"/>
		<unit id="org.eclipse.xtext.sdk.feature.group" version="2.14.0.v20180523-0937"/>
		<unit id="org.eclipse.xwt.feature.feature.group" version="1.3.1.I20171018-2059"/>
		<unit id="org.eclipse.xwt.workbench.feature.feature.group" version="1.3.1.I20171018-2059"/>
		<repository location="http://download.eclipse.org/releases/photon/"/>
	</location>
</locations>
</target>
