<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.hawk.core.ModelExtensionPoint">
       <ModelP
            ModelParser="org.hawk.ifc.IFCModelFactory">
      </ModelP>
   </extension>
   <extension
         point="org.hawk.core.MetaModelExtensionPoint">
      <MetaModelP
            MetaModelParser="org.hawk.ifc.mm.IFCMetaModelResourceFactory">
      </MetaModelP>
   </extension>


</plugin>
