<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Hawk Target Platform" sequenceNumber="43">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.feature.group" version="4.4.2.v20150204-1700"/>
<unit id="org.eclipse.e4.rcp.source.feature.group" version="1.3.101.v20150204-1353"/>
<unit id="epp.package.java" version="4.4.2.20150219-0708"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.10.2.v20150123-0452"/>
<unit id="org.eclipse.rcp.feature.group" version="4.4.2.v20150204-1700"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="3.9.101.201408150207"/>
<unit id="org.eclipse.jdt.feature.group" version="3.10.1.v20150204-1700"/>
<unit id="org.eclipse.bpmn2.feature.group" version="1.0.0.201412192138"/>
<unit id="org.eclipse.xsd.feature.group" version="2.10.0.v20150123-0452"/>
<repository location="http://download.eclipse.org/releases/luna/"/>
</location>
<location path="${resource_loc:/ktable/plugins}" type="Directory"/>
<location path="${resource_loc:/nebula/plugins}" type="Directory"/>
<location path="${resource_loc:/nebula-incubator/plugins}" type="Directory"/>
<location path="${resource_loc:/nebula-nattable/plugins}" type="Directory"/>
<location path="${resource_loc:/uml2_3.2/plugins}" type="Directory"/>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.commons.lang3" version="3.1.0.v201403281430"/>
<unit id="org.apache.commons.lang.source" version="2.6.0.v201404270220"/>
<unit id="org.slf4j.api" version="1.7.2.v20121108-1250"/>
<unit id="org.apache.commons.lang" version="2.6.0.v201404270220"/>
<unit id="org.slf4j.api.source" version="1.7.2.v20121108-1250"/>
<unit id="org.apache.commons.lang3.source" version="3.1.0.v201403281430"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20150124073747/repository/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.tmatesoft.svnkit.feature.group" version="1.8.10.r10446_v20150526_1454"/>
<repository location="http://eclipse.svnkit.com/1.8.x"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.epsilon.core.dt.feature.feature.group" version="1.3.0.201507302227"/>
<unit id="org.eclipse.epsilon.emf.dt.feature.feature.group" version="1.3.0.201507302227"/>
<unit id="org.eclipse.epsilon.emf.feature.feature.group" version="1.3.0.201507302227"/>
<unit id="org.eclipse.epsilon.core.feature.feature.group" version="1.3.0.201507302227"/>
<repository location="http://download.eclipse.org/epsilon/interim/"/>
</location>
</locations>
</target>
