<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.hawk.core.ModelUpdaterExtensionPoint">
      <model
            ModelUpdater="org.hawk.timeaware.graph.TimeAwareModelUpdater">
      </model>
   </extension>
   <extension
         point="org.hawk.core.HawkFactoryExtensionPoint">
      <hawkFactory
            class="org.hawk.timeaware.factory.TimeAwareHawkFactory"
            name="Time-aware Hawk Factory">
      </hawkFactory>
   </extension>
   <extension
         point="org.hawk.core.QueryExtensionPoint">
      <query
            query_language="org.hawk.timeaware.queries.TimeAwareEOLQueryEngine">
      </query>
   </extension>
   <extension
         point="org.hawk.core.QueryExtensionPoint">
      <query
            query_language="org.hawk.timeaware.queries.TimelineEOLQueryEngine">
      </query>
   </extension>

</plugin>
