<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.epsilon.common.dt.modelType">
      <modelType
            class="uk.ac.york.mondo.integration.hawk.emc.RemoteHawkModel"
            dialog="uk.ac.york.mondo.integration.hawk.emc.dt.RemoteHawkModelConfigurationDialog"
            icon="icons/hawkmodel.png"
            label="Remote Hawk instance"
            type="hawkmodel">
      </modelType>
   </extension>

</plugin>
