<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.dynamic_package">
    <resource uri="modelio://analyst" location="model/modelio.ecore#/0"/>
    <resource uri="modelio://bpmn" location="model/modelio.ecore#/1"/>
    <resource uri="modelio://bpmn/processCollaboration" location="model/modelio.ecore#/2"/>
    <resource uri="modelio://bpmn/rootElements" location="model/modelio.ecore#/3"/>
    <resource uri="modelio://bpmn/flows" location="model/modelio.ecore#/4"/>
    <resource uri="modelio://bpmn/activities" location="model/modelio.ecore#/5"/>
    <resource uri="modelio://bpmn/events" location="model/modelio.ecore#/6"/>
    <resource uri="modelio://bpmn/gateways" location="model/modelio.ecore#/7"/>
    <resource uri="modelio://bpmn/objects" location="model/modelio.ecore#/8"/>
    <resource uri="modelio://bpmn/resources" location="model/modelio.ecore#/9"/>
    <resource uri="modelio://bpmn/bpmnDiagrams" location="model/modelio.ecore#/10"/>
    <resource uri="modelio://bpmn/bpmnService" location="model/modelio.ecore#/11"/>
    <resource uri="modelio://diagrams" location="model/modelio.ecore#/12"/>
    <resource uri="modelio://mda" location="model/modelio.ecore#/13"/>
    <resource uri="modelio://uml" location="model/modelio.ecore#/14"/>
    <resource uri="modelio://uml/infrastructure" location="model/modelio.ecore#/15"/>
    <resource uri="modelio://uml/infrastructure/properties" location="model/modelio.ecore#/16"/>
    <resource uri="modelio://uml/infrastructure/matrix" location="model/modelio.ecore#/17"/>
    <resource uri="modelio://uml/statik" location="model/modelio.ecore#/18"/>
    <resource uri="modelio://uml/behavior" location="model/modelio.ecore#/19"/>
    <resource uri="modelio://uml/behavior/activityModel" location="model/modelio.ecore#/20"/>
    <resource uri="modelio://uml/behavior/commonBehaviors" location="model/modelio.ecore#/21"/>
    <resource uri="modelio://uml/behavior/interactionModel" location="model/modelio.ecore#/22"/>
    <resource uri="modelio://uml/behavior/interactionModel/facilities" location="model/modelio.ecore#/23"/>
    <resource uri="modelio://uml/behavior/stateMachineModel" location="model/modelio.ecore#/24"/>
    <resource uri="modelio://uml/behavior/usecaseModel" location="model/modelio.ecore#/25"/>
    <resource uri="modelio://uml/behavior/communicationModel" location="model/modelio.ecore#/26"/>
    <resource uri="modelio://uml/informationFlow" location="model/modelio.ecore#/27"/>

    <resource uri="modelio://analyst/v2" location="model/modelio-v2.ecore#/0"/>
    <resource uri="modelio://bpmn/v2" location="model/modelio-v2.ecore#/1"/>
    <resource uri="modelio://bpmn/processCollaboration/v2" location="model/modelio-v2.ecore#/2"/>
    <resource uri="modelio://bpmn/rootElements/v2" location="model/modelio-v2.ecore#/3"/>
    <resource uri="modelio://bpmn/flows/v2" location="model/modelio-v2.ecore#/4"/>
    <resource uri="modelio://bpmn/activities/v2" location="model/modelio-v2.ecore#/5"/>
    <resource uri="modelio://bpmn/events/v2" location="model/modelio-v2.ecore#/6"/>
    <resource uri="modelio://bpmn/gateways/v2" location="model/modelio-v2.ecore#/7"/>
    <resource uri="modelio://bpmn/objects/v2" location="model/modelio-v2.ecore#/8"/>
    <resource uri="modelio://bpmn/resources/v2" location="model/modelio-v2.ecore#/9"/>
    <resource uri="modelio://bpmn/bpmnDiagrams/v2" location="model/modelio-v2.ecore#/10"/>
    <resource uri="modelio://bpmn/bpmnService/v2" location="model/modelio-v2.ecore#/11"/>
    <resource uri="modelio://diagrams/v2" location="model/modelio-v2.ecore#/12"/>
    <resource uri="modelio://mda/v2" location="model/modelio-v2.ecore#/13"/>
    <resource uri="modelio://uml/v2" location="model/modelio-v2.ecore#/14"/>
    <resource uri="modelio://uml/infrastructure/v2" location="model/modelio-v2.ecore#/15"/>
    <resource uri="modelio://uml/infrastructure/properties/v2" location="model/modelio-v2.ecore#/16"/>
    <resource uri="modelio://uml/infrastructure/matrix/v2" location="model/modelio-v2.ecore#/17"/>
    <resource uri="modelio://uml/statik/v2" location="model/modelio-v2.ecore#/18"/>
    <resource uri="modelio://uml/behavior/v2" location="model/modelio-v2.ecore#/19"/>
    <resource uri="modelio://uml/behavior/activityModel/v2" location="model/modelio-v2.ecore#/20"/>
    <resource uri="modelio://uml/behavior/commonBehaviors/v2" location="model/modelio-v2.ecore#/21"/>
    <resource uri="modelio://uml/behavior/interactionModel/v2" location="model/modelio-v2.ecore#/22"/>
    <resource uri="modelio://uml/behavior/interactionModel/facilities/v2" location="model/modelio-v2.ecore#/23"/>
    <resource uri="modelio://uml/behavior/stateMachineModel/v2" location="model/modelio-v2.ecore#/24"/>
    <resource uri="modelio://uml/behavior/usecaseModel/v2" location="model/modelio-v2.ecore#/25"/>
    <resource uri="modelio://uml/behavior/communicationModel/v2" location="model/modelio-v2.ecore#/26"/>
    <resource uri="modelio://uml/informationFlow/v2" location="model/modelio-v2.ecore#/27"/>

    <resource uri="modelio://analyst/v3" location="model/modelio-v3.ecore#/0"/>
    <resource uri="modelio://bpmn/v3" location="model/modelio-v3.ecore#/1"/>
    <resource uri="modelio://bpmn/processCollaboration/v3" location="model/modelio-v3.ecore#/2"/>
    <resource uri="modelio://bpmn/rootElements/v3" location="model/modelio-v3.ecore#/3"/>
    <resource uri="modelio://bpmn/flows/v3" location="model/modelio-v3.ecore#/4"/>
    <resource uri="modelio://bpmn/activities/v3" location="model/modelio-v3.ecore#/5"/>
    <resource uri="modelio://bpmn/events/v3" location="model/modelio-v3.ecore#/6"/>
    <resource uri="modelio://bpmn/gateways/v3" location="model/modelio-v3.ecore#/7"/>
    <resource uri="modelio://bpmn/objects/v3" location="model/modelio-v3.ecore#/8"/>
    <resource uri="modelio://bpmn/resources/v3" location="model/modelio-v3.ecore#/9"/>
    <resource uri="modelio://bpmn/bpmnDiagrams/v3" location="model/modelio-v3.ecore#/10"/>
    <resource uri="modelio://bpmn/bpmnService/v3" location="model/modelio-v3.ecore#/11"/>
    <resource uri="modelio://diagrams/v3" location="model/modelio-v3.ecore#/12"/>
    <resource uri="modelio://mda/v3" location="model/modelio-v3.ecore#/13"/>
    <resource uri="modelio://uml/v3" location="model/modelio-v3.ecore#/14"/>
    <resource uri="modelio://uml/infrastructure/v3" location="model/modelio-v3.ecore#/15"/>
    <resource uri="modelio://uml/infrastructure/properties/v3" location="model/modelio-v3.ecore#/16"/>
    <resource uri="modelio://uml/infrastructure/matrix/v3" location="model/modelio-v3.ecore#/17"/>
    <resource uri="modelio://uml/statik/v3" location="model/modelio-v3.ecore#/18"/>
    <resource uri="modelio://uml/behavior/v3" location="model/modelio-v3.ecore#/19"/>
    <resource uri="modelio://uml/behavior/activityModel/v3" location="model/modelio-v3.ecore#/20"/>
    <resource uri="modelio://uml/behavior/commonBehaviors/v3" location="model/modelio-v3.ecore#/21"/>
    <resource uri="modelio://uml/behavior/interactionModel/v3" location="model/modelio-v3.ecore#/22"/>
    <resource uri="modelio://uml/behavior/interactionModel/facilities/v3" location="model/modelio-v3.ecore#/23"/>
    <resource uri="modelio://uml/behavior/stateMachineModel/v3" location="model/modelio-v3.ecore#/24"/>
    <resource uri="modelio://uml/behavior/usecaseModel/v3" location="model/modelio-v3.ecore#/25"/>
    <resource uri="modelio://uml/behavior/communicationModel/v3" location="model/modelio-v3.ecore#/26"/>
    <resource uri="modelio://uml/informationFlow/v3" location="model/modelio-v3.ecore#/27"/>
    <resource uri="modelio://Modeliosoft.Analyst/2.0.00" location="model/modelioMetamodel_format_1.ecore#/0"/>
    <resource uri="modelio://Modeliosoft.Infrastructure/2.1.00" location="model/modelioMetamodel_format_1.ecore#/1"/>
    <resource uri="modelio://Modeliosoft.Archimate/1.0.03" location="model/modelioMetamodel_format_1.ecore#/2"/>
    <resource uri="modelio://Modeliosoft.Standard/2.0.00" location="model/modelioMetamodel_format_1.ecore#/3"/>
    <resource uri="modelio://Modeliosoft.modelio.kernel/1.0.00" location="model/modelioMetamodel_format_1.ecore#/4"/>
    <resource uri="modelio://ModelioMetaPackage" location="model/modelioMetamodel_format_1.ecore#/5"/>
   </extension>
</plugin>
