<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Hawk"
            id="hawk.ui.plugin">
      </category>
      <wizard
            name="Hawk Instance"
            icon="icons/repo_rep.gif"
            category="hawk.ui.plugin"
            class="org.hawk.ui2.wizard.HWizard"
            id="hawk.ui.wizard.HawkNewWizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Hawk"
            id="hawk">
      </category>
      <view
            name="Hawk"
            icon="icons/repo_rep.gif"
            category="hawk"
            class="org.hawk.ui2.view.HView"
            id="hawk.ui.view.HawkView">
      </view>
   </extension>
      <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.hawk.ui2.preferences.HawkPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.hawk.ui2.preferences.HawkPreferencePage"
            id="org.hawk.ui.preferences.HawkPreferencePage"
            name="Hawk">
      </page>
      <page
            category="org.hawk.ui.preferences.HawkPreferencePage"
            class="org.hawk.ui2.preferences.HawkInstancePluginConfigurationPreferencePage"
            id="org.hawk.ui.preferences.HawkPluginConfigurationPreferencePage"
            name="Plugin Manager">
      </page>
      <page
            category="org.hawk.ui.preferences.HawkPreferencePage"
            class="org.hawk.ui2.preferences.HawkInstanceManagerPreferencePage"
            id="org.hawk.ui.preferences.HawkInstancesPreferencePage"
            name="Instance Manager">
      </page>
   </extension>
   
</plugin>
